<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="list-group">
            <div class="list-group-item">
                <h5 class="list-group-item-heading">{{product.name}}
                    <small>{{product.stage}}</small>
                </h5>
            </div>
            <div class="list-group-item">
                <p>{{product.description}}</p>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-link" href="{{product.url}}" role="button"><i class="fa fa-globe fa-fw fa-lg"></i> Website</a>
            <a class="btn btn-link" href="{{product.repo}}" role="button"><i class="fa fa-github fa-fw fa-lg"></i> GitHub</a>
            {% if product.blog %}<a class="btn btn-link" href="{{product.blog}}" role="button"><i class="fa fa-medium fa-fw fa-lg"></i> Blog</a>{% endif %}
        </div>
    </div>
</div>