body {
    background-color: #eee;
}
.footer {
    background-color: #444444;
}
.twitter {
    color: #55acee;
}
.facebook {
    color: #3b5998;
}
.google-plus {
    color: #dc4e41;
}
.linkedin {
    color: #0077b5;
}