@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto+Mono');

.brand {
    font-family: 'Audiowide', cursive;
    letter-spacing: -3px;
}

.terminal {
    font-family: 'Roboto Mono', monospace;
}