<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Mash Software">
  <link href="//stackpath.bootstrapcdn.com/bootswatch/4.1.1/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-B7n8QuRe6UtnoLRAwGkku55zwnr4h8whf+ThXUwwlP9SaeNzHlGR4cOOuEZVMYOL" crossorigin="anonymous">
  <link href="//use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="{{ "/css/site.css" | absolute_url }}" rel="stylesheet">
  {%- seo -%}
</head>

<body class="secondary-light">
  <nav class="navbar navbar-expand-lg navbar-dark primary">
    <div class="container">
      <a class="navbar-brand brand" href="/">{{site.title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {%- for p in site.data.nav -%}
          <li class="nav-item {% if p.url == page.url -%}active{%- endif -%}">
            <a class="nav-link" href="{{p.url}}">{{p.name}} {%- if p.url == page.url -%}
              <span class="sr-only">(current)</span>{%- endif -%}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid secondary-dark">
      <div class="container">
        <h1 class="terminal"><i class="fas fa-terminal"></i> {{page.title}}</h1>
        {%- if page.description-%}<p class="lead">{{page.description}}</p>{%- endif -%}
      </div>
    </div>
  <div class="container">
    {{ content }}
  </div>
  <footer class="container">
    <hr>
    <p>
      <a href="mailto:hello@mashsoftware.com" target="_blank"><i class="fas fa-envelope-square fa-fw fa-3x"></i></a>
      <a href="https://www.facebook.com/MashSW/" target="_blank"><i class="fab fa-facebook-square fa-fw fa-3x"></i></a>
      <a href="https://twitter.com/MashSoftware" target="_blank"><i class="fab fa-twitter-square fa-fw fa-3x"></i></a>
      <a href="https://github.com/MashSoftware" target="_blank"><i class="fab fa-github-square fa-fw fa-3x"></i></a>
    </p>
    <p><i class="far fa-copyright"></i> Mash Software 2016-{{ site.time | date: '%Y' }}.</p>
  </footer>
  <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-57853069-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>