---
layout: default
---
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading"><img class="img-circle pull-left" src="https://pbs.twimg.com/profile_images/481944512931971072/CV8dEpkn.jpeg" alt="{{ page.author }}" style="width:50px;height:50px;">{{ page.author }}<br/><small>{{ page.date | date: "%-d %b %Y" }}</small></h5>
        </div>
        <div class="list-group-item">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading"><i class="fa fa-tags fa-fw"></i> Tags</h5>
        </div>
        <div class="list-group-item">
          {% for tag in page.tags %}
          <p><i class="fa fa-tag fa-fw"></i> {{ tag }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
