---
layout: default
---
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><img class="img-circle pull-left" src="https://avatars2.githubusercontent.com/u/2802973" alt="{{ page.author }}" style="width:50px;height:50px;">{{ page.author }}<br/><small>{{ page.date | date: "%d %B %Y" }} at {{ page.date | date: "%H:%M" }}</small></h5>
            </div>
            {% if page.image %}
          </div>
          <img class="img-responsive" src="{{ page.image }}" alt="Post Image" style="width:100%;height:auto;">
          <div class="list-group">
            {% endif %}
            <div class="list-group-item">
              {{ content }}
            </div>
          </div>
          <div class="panel-footer">
            <a class="btn btn-default twitter" href="https://twitter.com/intent/follow?screen_name={{site.twitter_related}}" rel="nofollow" target="_blank"><i class="fa fa-twitter fa-fw fa-lg"></i> Follow @{{site.twitter_related}}</a>
            <a class="btn btn-default twitter" href="https://twitter.com/intent/follow?screen_name={{site.twitter_username}}" rel="nofollow" target="_blank"><i class="fa fa-twitter fa-fw fa-lg"></i> Follow @{{site.twitter_username}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ul class="pager">
            {% if page.previous.url %}
            <li class="previous"><a href="{{ page.previous.url }}"><i class="fa fa-chevron-left fa-fw"></i> {{ page.previous.title }}</a></li>
            {% endif %}
            {% if page.next.url %}
            <li class="next"><a href="{{ page.next.url }}"> {{ page.next.title }} <i class="fa fa-chevron-right fa-fw"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-tags fa-fw"></i> Tags</h5>
            </div>
            <div class="list-group-item">
              {% for tag in page.tags %}
              <p><i class="fa fa-tag fa-fw"></i> {{ tag }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-share-alt fa-fw"></i> Share</h5>
            </div>
            <div class="list-group-item">
              <a class="twitter" href="https://twitter.com/intent/tweet?text={{page.title}} by @{{site.twitter_related}}&url={{site.url}}{{page.url}}&via={{site.twitter_username}}&related={{site.twitter_related}}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
              rel="nofollow" target="_blank">
              <i class="fa fa-twitter-square fa-fw fa-3x"></i></a>
              <a class="facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
              rel="nofollow" target="_blank">
              <i class="fa fa-facebook-square fa-fw fa-3x"></i></a>
              <a class="google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
              rel="nofollow" target="_blank">
              <i class="fa fa-google-plus-square fa-fw fa-3x"></i></a>
              <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&summary={{page.excerpt | strip_html}}&source={{site.title}}"
              rel="nofollow" target="_blank">
              <i class="fa fa-linkedin-square fa-fw fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-pencil fa-fw"></i> Other posts</h5>
            </div>
            <div class="list-group-item">
              {% for post in site.posts %}
              <p><a href="{{ post.url }}">{{ post.title }}</a></p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
